/*styles2 for Mom Birthday 2022*/

.videos1{
	background: rgb(236,241,15);
background: linear-gradient(36deg, rgba(236,241,15,1) 17%, rgba(170,120,223,1) 76%);
display: grid;
grid-template-columns: auto;

grid-template-rows: 1fr;

}

.vimeo1{
	margin: 0;
	padding: 50% 0 0 0;
	position: relative;
	border: groove #eb1a1a 7px;
	border-radius:1.5em;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	max-width: 100%;
	max-height: auto;
	
}


/*body.vp-center{
	max-height: 20vw;
	max-width: 20vh;
	width: 20%;
}*/

.vp-center{
max-height: 20vw;
}

.vimeo2{
	border: groove #c159e3 7px;
	border-radius: 1.5em;
	margin: 0;
}

.padding-fix{
	margin: 0;
	padding: 0;
	max-height: 75%;
}


.youtube-wrapper{
	position: relative;
	overflow: hidded;
	padding-top: 56.25%;
	border: solid 10px rgb(121, 16, 222);
	vertical-align: middle;
	margin: 0px;
	text-align: center;
	font-size: 0;
	background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0.8620448179271709) 50%, rgba(119,224,245,1) 100%);


	/*justify-content: center;*/
	/*align-items: center;*/
}


.wrap-iframe{
	position: absolute;
	top: 8%;
	left: 9%;
	bottom: 10%;
	width: 80%;
	height: 80%;
	border: ridge 8px rgb(121, 16, 222);
	vertical-align: middle;
	text-align: center;
	font-size: 0;
	
}


.iframe{
	vertical-align: middle;
	text-align: center;
	font-size: 0;
}


/*style="padding:100% 0 0 0;margin-bottom:0vh;position:relative;"*/